<div id="content_left">
<h1>DOPPLR</h1>
<p>Thanks <%= @user.name %>, your Dopplr account is now linked to OurCO2.</p>
<p><%= link_to 'Back to your profile', :action=> 'profile'%></p>
<p><%= link_to 'Back to your profile', :action=> 'upgrade'%></p>
</div>