<div id="content_left">
<h1>DOPPLR</h1>
<p>Dopplr is a travel service.</p>
<h1>YOUR SUSTAINABLE INDEX</h1>
<p> You have made a total of <%= @nrtrips %> trips! </p>
<h2>How sustainable is your traveling?</h2>
<p>Distance travelled</p>
<p> A total of <%= @km.round %> KM! </p>
<p>Carbon dioxide produced</p>
<p> A total of <%= @totalco2.round %> Kg of CO2! </p>
<p>Details:</p>
<p><%= @trips %></p>
</div>