<h1>Editing electricityuse</h1>

<% form_for(@electricityuse) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @electricityuse %> |
<%= link_to 'Back', electricityuses_path %>
