<div id="content_left">
<h1><%= @source.name  %></h1>

<p><b></b>
Under <%= @source.category %> // <%= @source.city.name %></p>
<p>More info: <%= @source.metadata  %></p>
<% if @source.picture != nil %>
<%= image_tag @source.picture  %>
<% end %>
<br/>
</div>
<div id="content_right">
<p><%= link_to 'New source', new_source_path %></p>
<p><%= link_to 'Edit', edit_source_path(@source) %></p>
<p><%= link_to 'Destroy', @source, :confirm => 'Are you sure?', :method => :delete %></p>
</div>
