html {
	color: black;
	background: #d6d6d6; 
}
body {
	/* Left top background */
	background: #d6d6d6 url(/img/page-shadow-top.png) 0 13px no-repeat;
	padding-top: 20px;
	margin: 0 auto 20px;
	width: 984px; 
}
#wrapper {
	/* Right shadow background */
	background: white url(/img/page-shadow-right.png) 100% 0% repeat-y;
	color: black; 
	margin: 0 auto;
	padding-right: 7px;
}
#wrapper2 {
	/* Left shadow background */
	background: url(/img/page-shadow-left.png) 0% 0% repeat-y;
	padding: 2px 0 0 7px;
}
#header {
	background: white url(/img/header-shadow-top.png) repeat-x; 
	color: #0b499e;
	overflow: hidden;
	position: relative;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 15px;
}
#menu{
	position: absolute;
	float:right;
	width: 400px;
	left: 400px;
	top: 40px;
}
#footer {
	height: 50px;
	width: 970px; 
	background-color: #fff;
	overflow: hidden;
	position: relative;
	padding-top: 25px;
	padding-bottom: 30px;

}
#top_black{
    position: relative;
    background-color: #333333;
    height: 14px;
    width: 978px;
    top: 0px;
    margin-left: 3px;
}
	
#content{
	position: relative;
	width:100%;
	height: auto;
	top: 8px;
	text-align:left;
	background-color: #FFFFFF;
}
#content_left {
	width:480px;
	float:left;
    background:#fff;
    padding-left: 35px;
}
	
#content_right {
	width:250px;
	padding-right: 40px;
	float:right;
	background:#fff;
	text-align: center;
}
#column_one {
	position: relative;
	width:250px;
	height: auto;
	margin-top: 8px;
	float:left;
    background:#fff;
    padding-left: 35px;
}
	
#column_two {
	position: relative;
	width:250px;
	margin-top: 8px;
	float:left;
    background:#fff;
    padding-left: 35px;
}

#column_three {
	position: relative;
	height: auto;
	width:250px;
	margin-top: 8px;
	float:left;
    background:#fff;
    padding-left: 35px;
}
#user_index {
	float: left;
	height: auto;
	width: 500px;  
	left: 0px;
	top: 5px;
  	padding-top: 0px;
}
#user_index ul li {
  font-size: 12px;
  width: 100px;
  list-style: none;
  float: left;
  padding-right: 20px;
}

body, p, ol, ul, td {
	font: 100%/1.2 Gill-sans,Arial, Helvetica, sans-serif;
}
body { 
	font-size: 76%;
}
h1 { 
	color: #000;
	font-size: 1.2em; 
	margin: 0.1em 0 1em 0; 
	padding: 0;
}
h1.welcome{
	font-size: 4em;
	margin:0;
}
h2 { 
	color: #ccc;
	font-size: 1.2em; 
	margin: 0.1em 0 1em 0; 
	padding: 0;
}
co2{
	font-size: 3em;
	color: #4D89F9;
}
p { 
		color: #000;
		font-size: 0.9em; 
				margin: 2em 0 1em 0; 
				padding: 0;
			}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000;  }
a:visited { color: #666; background: #fff;}
a:hover { color: #333; background: #fff;}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#column_two ul {
  font-size: 12px;
  padding-bottom: 12px;
  list-style: disc outside;
}
#column_two li {
 right:0px;
 padding-bottom: 12px;
}

