<p>It is not possible to see the passwords (they are encrypted for security reasons)
If a user lose the password, change it here to a temporal one.</p>


<% for user in Users.find(:all) %>
<p><b><%= user.name %></b> |  
<%= link_to "change password to this user", :action => 'resetpassword', :id => user %>
|  
<%= link_to "delete this user", :action => 'delete', :id => user %>
</p>
<% end %>