<div id="content_left">
<h1 class="welcome">Administration</h1>
<p><%= link_to "Admin users", :action => "list" %></p>
<p><%= link_to "Refresh total co2", :action => "update_year_emissions" %></p>
<p><%= link_to "Refresh dopplr emissions", :controller => "dopplr", :action => "refresh_all" %></p>

	
</div>
	