<div id="content_left">

<h1 class="welcome">Users</h1>

<p>The people using MyCO2</p>
<div id="user_index">
<ul>
<% for user in @users %>

	<li>
	<%= gravatar(user.email)%>
	<p><b><%= user.name %></b>:</p>
	<h2> <%= total_co2(user.id).round  %> kg</h2>
	</li>

<%end%>
</ul>
</div>
</div>
<div id="content_right">
	<h1 class="welcome">Groups</h1>
	<% Group.find(:all).each do |g| %>
	<p><%= link_to g.name, :controller=> "groups",:action=> 'show', :id => g.id %></p>
	<%end %>	
</div>