<div id="content_left">

<h1>Users</h1>
<p>The people using MyCO2</p>
<% for user in @users %>
	<% total = 0 %>
	<% for emission in user.emissions.find(:all) %>
      <% total += emission.amount %>
    <% end %>
    <%= gravatar(user.email)%>
	<p><b><%= user.name %></b>: <%= total %>kg</p>
	<p>---------------------------------------------</p>
<%end%>

</div>