<div id="content_left">
<h1>PEIR</h1>
<p>Your personals environmental report</p>
<p> You have made a total of <%= @nrtrips %> trips! </p>
<p> You have uploaded: <%= @data %> datapoint </p>
<p>Details:</p>
<p><%= @trips %></p>
</div>