<div id="content_left">
<h1>Hurra, this is your new  goal!</h1>
	
	<p>I'll try to: <%= @goal.description %></p>
	
	<% if @goal.limit != 0 then %>
		<p>You will limit your emissions to: <%= @goal.limit %> kg CO2eq!</p>
	<%end%>
	
	<% if @goal.co2 != 0 then %>
		<p>You want to reduce: <%= @goal.co2 %> kg CO2eq!</p>
	<%end%>
	

	<%= link_to 'Back', :action => "index" %>

</div>




